<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BH.Adapter" version="1.0.0" targetFramework="net461" />
  <package id="BH.Engine.DataManipulation" version="1.0.0" targetFramework="net461" />
  <package id="BH.Engine.Structure" version="1.0.0" targetFramework="net461" />
  <package id="BH.oM" version="1.0.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.7.0" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.10.0" targetFramework="net461" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net461" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net461" />
</packages>